<!DOCTYPE html>
<html ng-app="LunchApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Angular</title>

</head>
<body ng-controller="LunchAppController">
    <h1>Angular Assignment 1</h1>
    <h2>Lunch Checker App</h2>
    <div>
        <input id="lunch-menu" type="text"ng-model="menu"
        placeholder="list comma separated dishes you usually have for lunch">
    </div>
    <br>
    <div>
        <button ng-click="CheckIt()">Check If Too Much</button>
    </div>
    <div>
        <br>
      <!-- Your message can go here. -->
      FoodItems Include:  {{menu}} <br>
      {{display}}
      
    </div>
    
</body>
</html>